/*Header styles*/
.header {
  background-color: #0365e6;
  height: 150px;
  width: 100%;
  width: 100%;
}

.logo {
  position: absolute;
  color: whitesmoke;
  font-family: sans-serif;
  text-align: left;
  margin-top: 35px;
  padding-left: 50px;
  font-size: 75px;
}

/*Body styles*/
.body {
  background-color: #1c1c1c;
}

.title {
  color: whitesmoke;
  text-align: center;
  padding-top: 30px;
  font-family: "arial";
  font-size: 30px;
}

.content {
  position: relative;
  padding-left: 50px;
}

.content-title {
  color: whitesmoke;
  font-family: "open sans";
  padding-top: 30px;
}

.form {
  position: relative;
  color: #61a6ff;
  font-family: "open sans";
  padding-top: 10px;
  text-decoration: underline;
}

.user-input {
  position: relative;
  padding-top: 20px;
  margin-top: 30px;
  text-align: center;
}

.label {
  position: absolute;
  margin-top: 25px;
}

.user-submit {
  position: relative;
  margin-top: 0px;
  width: 200px;
  height: 70px;
  border-width: 2px;
  border-radius: 10px;
  border-color: #0365e6;
  background: none;
  color: #0365e6;
  font-size: 16px;
  font-family: "Lucida sans";
}
